* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

header {
  margin-top: 96px;
  margin-bottom: 64px;
}

.max-width-wrapper {
  background-color: white;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.intro-chunk {
  max-width: 350px;
  min-width: 300px;
}

h1 {
  margin-bottom: 32px;
}

p {
  line-height: 1.5;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

.card {
  padding-top: 8px;
  background-color: white;
}

.indented-heading {
  width: fit-content;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 0;
  margin-left: -32px;
}
